[kusama1]
192.168.1.10 validator_name=polkachu-kusama-test-0 log_name=kusama1 telemetryUrl=wss://telemetry.polkadot.io/submit/

[kusama:children]
kusama1

[validators:children]
kusama

[all:vars]
ansible_user=ansible
ansible_port=22
ansible_ssh_private_key_file="~/.ssh/id_rsa"
log_monitor=monitoring.enby-collective.org
loki_user=user
loki_password=password
domain_name=DOMAIN_NAME
data_user=user
data_password=password
letsencrypt_email=your.mail@mailbox.org